<style>
    *{
        width:500px; 
        
        margin: 0 auto;  
        background-color:lightcyan;
    }
    .bt{
        color: antiquewhite;
        background-color:indigo;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
   textarea{
       border-color: blueviolet;
   }
   h1{
        color:blueviolet;
        font-family:Helvetica;
        font-weight:800;
        font-size:60px;
        margin-left: 30px;
    
    }    
    div{
       margin-top: 70px;
   }
 
   
</style>
<div>
   

    <body>       
        <h1>WORD COUNT</h1>

        <a href="{%url 'about'%}">about</a>

        <form action="{%url 'result'%}">
            <textarea col="40" rows="20" name="fulltext"></textarea>
            <br><br>
            <input class="bt" type="submit" value="count!">     
        </form>

        
    </body>

</div>
